* {
  color: white;
  background-color: #1884a5;
}

.profile-picture {
 background-image: url('./images/profilepicture.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 height: 300px;
 width: 300px;
 max-width: 100%;
 border-radius: 100%;
 margin-top: 1em;
}



ul {
  list-style-type: none;
  overflow: hidden;
}

.homebar {
  word-spacing: 25px;
  font-weight: bold;
  font-size: 1.5em;
}

.homebar h1 {
  display: inline;
  word-spacing: normal;
  font-size: 1.5em;
}

.about h1 {
  text-align: center;
  font-size: 2em;
}

.about p {
  text-align: center;
  font-size: 1.5em;
}

li {
  display: inline;
}

li a {
  display: inline;
  padding: 5px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.portfolio img {
  width: 40%;
  height: 40%;
}

.portfolio h1 {
  text-align: center;
}

.skills {
  text-align: center;
  word-spacing: 10px;
  font-size: 1.5em;
}

.skills h1 {
  text-align: center;
  font-size: 1.5em;
}



.contact img {
  width: 5%;
  height: 5%;
  display: inline-block;
  text-align: center;
}

.contact {
  text-align: center;
}
