* {
  border: border-box;
  width: 100%;
  color: white;
}

.navbar a {
  text-align: left;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.profile-picture {
 background-image: url('profilepicture.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 height: 400px;
 width: 400px;
 max-width: 100%;
 border-radius: 100%;
 margin-top: 1em;
}


body {
  background-color: #1884a5;
  color: white;
}

/*Portfolio Section*/
.portfolio a {
  text-decoration: none;
}

.portfolio a:hover {
  text-decoration: underline;
}

footer {
  color: white;
}
