* {
  margin: 0
}
*, body {
  box-sizing: border-box;
  font-family: Avenir;
}

ul {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

li {
  display: inline;
}

a {
  display: inline;
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*home page*/

.section-container-home {
  max-width: 100%;
  max-height: 100%;
  background-image: url('./images/splashPage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.teal-overlay {
	background: rgba(66,190,186,0.4);
}

.homebar ul {
 text-align: left;
 word-spacing: 2em;
 padding-top: 2%;
}

.homebar a {
  font-size: 30px;
  font-weight: bold;
}


/*About Me*/
.fancyName {
  color: white;
  text-align: left;
  font-size: 40px;
  word-spacing: 2px;
  padding-left: 3%;
  padding-top: 5%;
}

.roleTitle {
  padding-left: 3%;
  color: white;
}

.aboutMe {
  text-align: left;
  color: white;
  padding-left: 3%;
  padding-bottom: 6%;
  width: 75%;
}

/*portfolio*/
.section-container-portfolio {
  background: #42beba;
  color: white;
}

.portfolio-heading {
  text-align: center;
  padding-top: 2%;
}

.portfolio-item-container {
  display: -webkit-flex;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 3%;
}

.portfolio-item {
  margin: 0 auto;
  text-align: center;
}

.project-title {
  justify-content: center;
  align-self: center;
  margin-bottom: 20px;
}

.project-picture {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 400px;
  max-width: 100%;
  margin-top: 1em;
  margin: 0 auto;
  text-align: center;
  border: 3px solid white;
}

/*Skills Section*/
.skills {
  text-align: center;
  background: #deecc6;
  color: #4a4a4a;
  padding-bottom: 1%;
}

.skills img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 10%;
  width: 10%;
  max-width: 100%;
  margin-top: 1em;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

/*Contact Information Section*/
.section-container-contact{
  background: 	#107dac;
}
.contact-heading {
  text-align: center;
  color: white;
  padding-top: 2%;
  padding-bottom: 3%;
}

/*portfolio picture*/
.profile-picture {
 background-image: url('./images/profilepicture.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 height: 250px;
 width: 250px;
 max-width: 100%;
 border-radius: 100%;
 margin-top: 1em;
 margin: auto;
}

/*Let's Work Together*/
.contact-form {
  padding-top: 2%;
  padding-bottom: 2%;
}

.contact-form input {
  display: -webkit-flex;
  display: flex;
  margin: 1% auto;
  text-align: left;
  width: 50%;
}

.contact-form textarea {
  display: -webkit-flex;
  display: flex;
  margin: 1% auto;
  text-align: left;
  width: 50%;
}

.contact-form button {
  display: -webkit-flex;
  display: flex;
  margin: auto;
  text-align: center;
  width: 10%;
  border-radius: 2em;
  font-weight: bold;
  font-size: 100%;
  background-color: #42beba;
  padding-left: 3%;
}

/*Footer with additional ways to contact me*/
.footer {
 background: #415f83;
 padding-top: 1%;
}

.contact-item-container {
  display: -webkit-flex;
  display: flex;
  width-max: 100%;
  font-size: 20px;
  color: white;
  padding-bottom: 2%;
}

.contact-picture-container img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  max-width: 100%;
  margin-top: 1em;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}
